{% extends "base.html" %}

{% block title %}Restablecer contraseña{% endblock %}

{% block content %} 
<div class="container mt-5">
    <h2>Escribe tu nueva contraseña</h2>
    {% if validlink %}
        <p>Por favor, escribe tu nueva contraseña dos veces para confirmarla.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Recuperar contraseña</button>
        </form>
    {% else %}
        <p>El enlace para restablecer la contraseña no es válido, probablemente porque ya ha sido usado. Por favor, solicite un nuevo restablecimiento de contraseña.</p>
    {% endif %}
</div>
{% endblock %}